In [29]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [30]:
df=pd.read_csv("/content/drive/MyDrive/Copy of sonar data.csv",header=None)

In [31]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       208 non-null    float64
 1   1       208 non-null    float64
 2   2       208 non-null    float64
 3   3       208 non-null    float64
 4   4       208 non-null    float64
 5   5       208 non-null    float64
 6   6       208 non-null    float64
 7   7       208 non-null    float64
 8   8       208 non-null    float64
 9   9       208 non-null    float64
 10  10      208 non-null    float64
 11  11      208 non-null    float64
 12  12      208 non-null    float64
 13  13      208 non-null    float64
 14  14      208 non-null    float64
 15  15      208 non-null    float64
 16  16      208 non-null    float64
 17  17      208 non-null    float64
 18  18      208 non-null    float64
 19  19      208 non-null    float64
 20  20      208 non-null    float64
 21  21      208 non-null    float64
 22  22      208 non-null    float64
 23  23      208 non-null    float64
 24  24      208 non-null    float64
 25  25      208 non-null    float64
 26  26      208 non-null    float64
 27  27      208 non-null    float64
 28  28      208 non-null    float64
 29  29      208 non-null    float64
 30  30      208 non-null    float64
 31  31      208 non-null    float64
 32  32      208 non-null    float64
 33  33      208 non-null    float64
 34  34      208 non-null    float64
 35  35      208 non-null    float64
 36  36      208 non-null    float64
 37  37      208 non-null    float64
 38  38      208 non-null    float64
 39  39      208 non-null    float64
 40  40      208 non-null    float64
 41  41      208 non-null    float64
 42  42      208 non-null    float64
 43  43      208 non-null    float64
 44  44      208 non-null    float64
 45  45      208 non-null    float64
 46  46      208 non-null    float64
 47  47      208 non-null    float64
 48  48      208 non-null    float64
 49  49      208 non-null    float64
 50  50      208 non-null    float64
 51  51      208 non-null    float64
 52  52      208 non-null    float64
 53  53      208 non-null    float64
 54  54      208 non-null    float64
 55  55      208 non-null    float64
 56  56      208 non-null    float64
 57  57      208 non-null    float64
 58  58      208 non-null    float64
 59  59      208 non-null    float64
 60  60      208 non-null    object
dtypes: float64(60), object(1)
memory usage: 99.3+ KB

In [33]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [34]:
df.shape

(208, 61)

In [35]:
df[60].value_counts()

60
M    111
R     97
Name: count, dtype: int64

In [36]:
x=df.drop(60,axis=1)
y=df[60]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [38]:
pipe_logreg = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LogisticRegression(max_iter=10000))
])
pipe_svc = Pipeline([
    ('scaler', StandardScaler()),
    ('model', SVC())
])
pipe_knn = Pipeline([
    ('scaler', StandardScaler()),
    ('model', KNeighborsClassifier())
])
pipe_rf = Pipeline([
    ('model', RandomForestClassifier(random_state=42))
])

In [39]:
model_hyperparameters = {

    pipe_logreg: {
        'model__C': [0.1, 1, 10]
    },

    pipe_svc: {
        'model__C': [0.1, 1, 10],
        'model__kernel': ['linear', 'rbf']
    },

    pipe_knn: {
        'model__n_neighbors': [3, 5, 7]
    },

    pipe_rf: {
        'model__n_estimators': [50, 100],
        'model__max_depth': [None, 10, 20]
    }
}

In [40]:
def ModelSelection(model_param_dict, X_train, y_train):

    results = []

    for model, params in model_param_dict.items():

        grid = GridSearchCV(model, params, cv=5)
        grid.fit(X_train, y_train)

        results.append({
            'Model': model.named_steps['model'].__class__.__name__,
            'Best CV Score': grid.best_score_,
            'Best Parameters': grid.best_params_
        })

    return pd.DataFrame(results)

In [41]:
results_df = ModelSelection(model_hyperparameters, X_train, y_train)

print(results_df)

                    Model  Best CV Score  \
0      LogisticRegression       0.795722
1                     SVC       0.867558
2    KNeighborsClassifier       0.837790
3  RandomForestClassifier       0.837255

                                     Best Parameters
0                                  {'model__C': 0.1}
1           {'model__C': 10, 'model__kernel': 'rbf'}
2                          {'model__n_neighbors': 3}
3  {'model__max_depth': None, 'model__n_estimator...

In [42]:
best_model = grid.best_estimator_

In [43]:
y_pred = best_model.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score

print("Test Accuracy:", accuracy_score(y_test, y_pred))

Test Accuracy: 0.8571428571428571

In [45]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           M       0.79      1.00      0.88        22
           R       1.00      0.70      0.82        20

    accuracy                           0.86        42
   macro avg       0.89      0.85      0.85        42
weighted avg       0.89      0.86      0.85        42

In [48]:
new_data=(0.0262,	0.0582,	0.1099,	0.1083,	0.0974,	0.2280	,0.2431,	0.3771,	0.5598,	0.6194,	0.6333,	0.7060,	0.5544,	0.5320	,0.6479,	0.6931,	0.6759	,0.7551	,0.8929	,0.8619	,0.7974,	0.6737,	0.4293,	0.3648	,0.5331,	0.2413,	0.5070	,0.8533,	0.6036,	0.8514,	0.8512,	0.5045,	0.1862,	0.2709,	0.4232,	0.3043,	0.6116,	0.6756,	0.5375,	0.4719,	0.4647	,0.2587,	0.2129,	0.2222,	0.2111,	0.0176,	0.1348,	0.0744,	0.0130,	0.0106,	0.0033,	0.0232,	0.0166,	0.0095,	0.0180,	0.0244,	0.0316,	0.0164,	0.0095,	0.0078)

In [49]:
new_data_array = np.asarray(new_data)
new_data_reshaped = new_data_array.reshape(1, -1)

prediction = best_model.predict(new_data_reshaped)

if prediction[0] == 'R':
    print("Object is Rock")
else:
    print("Object is Mine")

Object is Mine

In [50]:
import pickle

In [53]:
pickle.dump(best_model,open('classmodel.pkl','wb'))

In [54]:
pickled_model=pickle.load(open('classmodel.pkl','rb'))

In [55]:
pickled_model.predict(new_data_reshaped)

array(['M'], dtype=object)